{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "json", "react"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "linebreak-style": ["error", "windows"],
    "consistent-return": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "global-require": 0,
    "import/prefer-default-export": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "fetch": true
  },
  "env": {
    "jest": true
  }
}
