# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
.vscode

# Docker
Dockerfile
docker-compose.yml

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log

src/env.js