.header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  position: fixed;
  width: 100%;
}

.header__logo {
  float: left;
}

.header__logo--svg {
  float: left;
  transform: translate(0, -4px);
}

.header__logo--text {
  float: right;
  transform: translate(-8px, 6px);
}

.footer {
  background-color: #222;
  height: 40px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.link {
  color: white;
}

.link:hover {
  color: white;
}

.link--spacer {
  padding-left: 20px;
}

.App-login-buttons {
  float: right;
}

.App-header-info {
  float: right;
}

.App-slide {
  transform: translate(0px, -150px);
  z-index: -1;
  position: absolute;
  pointer-events: none;
}

.App-login {
  transform: translate(175px, 300px);
  max-width: 340px;
  min-width: 340px;
}

.App-lost-button {
  transform: translate(175px, 360px);
  max-width: 555px;
  min-width: 555px;
}

.App-spinner {
  transform: translate(141px, 10px);
}
