.homepage,
.slide {
  z-index: -1;
  transform: translate(0px, -150px);
  position: absolute;
  pointer-events: none;
  top: 0;
}

.footer {
  background-color: #222;
  height: 40px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.link {
  color: white;
}

.link:hover {
  color: white;
}

.link--spacer {
  padding-left: 20px;
}

.login {
  transform: translate(175px, 300px);
  max-width: 340px;
  min-width: 340px;
}

.App-lost-button {
  transform: translate(175px, 360px);
  max-width: 555px;
  min-width: 555px;
}

.spinner {
  transform: translate(141px, 10px);
}

.student {
  margin-bottom: 5px;
  width: 340px;
  left: calc(50vw - 170px);
  position: absolute;
  top: 40vh;
}

.student__button {
  top: 45vh;
}

.student__spinner {
  top: 45vh;
  left: calc(50vw - 30px);
}

.firebaseui-idp-button {
  max-width: 340px !important;
  transform: translate(-30px, 0);
}

.MuiList-padding-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.student--images {
  background-color: black;
}

.student--definition {
  border-right: 1px solid;
  border-color: black;
}

.classroom--spinner {
  animation: spin 4s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
